<div #card class="card-wrap">
    <div class="card" [ngStyle]="cardStyle()">
        <div class="card-bg" [ngStyle]="cardBgTransform()">
            <div class="coin-profile">
                <h2>{{coin.name}} ({{coin.symbol}})</h2>
                <img [src]="coin.image.large" alt="{{coin.name}}" width="100" height="100">
                <p>Current Price: {{coin.market_data.current_price.usd}}</p>
                <p>Market Cap: {{coin.market_data.market_cap}}</p>
                <p>24h Volume: {{coin.market_data.total_volume.usd}}</p>
                <p>24h Change: {{coin.market_data.price_change_24h}}</p>
                <p>Max Supply: {{coin.market_data.max_supply}}</p>
            </div>
        </div>
    </div>
</div>