body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

/* Set the width of the sidebar to 120px */


.body-background {
    color: white;
    background-color: black;
}

.main-content {
    background-color: black;
}

/* Header styling */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Nav styling */

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: black;
}

.example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
}

/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 800px) {
    #main {
        margin-left: 0 !important;
    }
}

/* Main Content */

.section {
    position: relative;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#services {
    height: 200vh;
}

.inside-section-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.terminology {
    display: block;
}

// Header design

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px;

    &-text {
        color: #c6e2ff;
        font-size: 100px;
        text-align: center;
        line-height: 1;
        animation: neon 0.08s ease-in-out infinite alternate;
    }
}

// animation

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}

/* Animate neon flicker */
@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}
