<div id="header">
    <div class="container" id="search">
        <mat-form-field color="primary" appearance="fill">
            <mat-label>Search</mat-label>
            <input (keyup)="sendSearchTerm(search)" matInput [(ngModel)]="search">
            <i matSuffix class="material-icons">search</i>
        </mat-form-field>
        <br />
    </div>
    <div class="container heading">
        <div>
            <a class="menu-item" (click)="scroll('num')">
                <span class="highlight" id='num-menu'>#</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('a')">
                <span id='a-menu'>A</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('b')">
                <span id='b-menu'>B</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('c')">
                <span id='c-menu'>C</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('d')">
                <span id='d-menu'>D</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('e')">
                <span>E</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('f')">
                <span>F</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('g')">
                <span>G</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('h')">
                <span>H</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('i')">
                <span>I</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('j')">
                <span>J</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('k')">
                <span>K</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('l')">
                <span>L</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('m')">
                <span>M</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('n')">
                <span>N</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('o')">
                <span>O</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('p')">
                <span>P</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('q')">
                <span>Q</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('r')">
                <span>R</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('s')">
                <span>S</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('t')">
                <span>T</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('u')">
                <span>U</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('v')">
                <span>V</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('w')">
                <span>W</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('x')">
                <span>X</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('y')">
                <span>Y</span>
            </a>
        </div>
        <div>
            <a class="menu-item" (click)="scroll('z')">
                <span>Z</span>
            </a>
        </div>
    </div>
</div>