<div class="w3-padding-64 add-padding-left">

    <!-- Header -->
    <div>
        <h1 class="header-text site-header-text-blue">RESOURCES</h1>
    </div>

    <!-- Services Grid -->
    <div class="row">
        <div class="column">
            <a href="https://coinmarketcap.com/" target="coinmarketcap"> <img src="../../assets/images/cmc.jpg"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://coinmarketcal.com/en/" target="coinmarketcal"> <img
                    src="../../assets/images/coinmarketcal.png" alt="Avatar" class="w3-left w3-circle "
                    style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://www.coingecko.com/en" target="coingecko"> <img src="../../assets/images/coingecko.png"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://www.binance.com/en" target="binance"> <img src="../../assets/images/binance.jpg"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://app.uniswap.org/#/swap" target="uniswap"> <img src="../../assets/images/uniswap.png"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://www.kucoin.com/" target="kucoin"> <img src="../../assets/images/kucoin.jpg" alt="Avatar"
                    class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://bscscan.com/" target="bscscan"> <img src="../../assets/images/bscscan.webp" alt="Avatar"
                    class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://etherscan.io/" target="etherscan"> <img src="../../assets/images/etherscan.webp"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://www.coinbase.com/" target="coinbase"> <img src="../../assets/images/coinbase.jpeg"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px">
            </a>
        </div>
        <div class="column">
            <a href="https://exchange.pancakeswap.finance/#/swap" target="pancake"> <img
                    src="../../assets/images/pancakeswap.jpg" alt="Avatar" class="w3-left w3-circle "
                    style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://cryptowat.ch/" target="crypto-watch"> <img src="../../assets/images/crypto-watch.png"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
        <div class="column">
            <a href="https://wallet.uphold.com/login" target="uphold"> <img src="../../assets/images/uphold.png"
                    alt="Avatar" class="w3-left w3-circle " style="width:80px; height: 80px;">
            </a>
        </div>
    </div>

</div>