/* Hover Sidebar */

.iwt {
  display: block;

  &-mobile {
    // background: white;
    margin: 12px 24px;
  }
}

.material-icons {
  color: #CFFF00;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  transition: 0.5s;
  overflow-x: hidden;
  margin-top: 60px;
  white-space: nowrap;

  &.mobile-sidebar {
    color: red;
    margin-top: 25px;
    height: 100%;
    background: transparent;
    display: none;
    
    .nav-caption {
      color: red;
    }

    .mat-nav-list-container {
      display: none;
    }
    
  }
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #818181;
  cursor: pointer;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons, .icon-text {
  vertical-align: middle;
}

.material-icons {
  margin-right: 30px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
  // margin-left: 85px;
}

@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }
  .sidebar a {
      font-size: 18px;
      &:hover {
          cursor: pointer;
      }
  }
}

@media only screen and (max-width: 800px) {
  .sidebar {
      display: none;
      width: 0;

      &.mobile-sidebar {
        display: block;
        width: 85px;
      }
  }
}
