<!-- <div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
  <a (click)="navEvent.emit('home')"><span class="iwt"><i class="material-icons">home</i><span>HOME</span></span></a><br>
  <a href="#about-us"><span class="iwt"><i class="material-icons">summarize</i><span>MISSION</span></span></a><br>
  <a (click)="navEvent.emit('glossary')"><span class="iwt"><i
        class="material-icons">assignment</i><span>GLOSSARY</span></span></a><br>
  <a href="#services"><span class="iwt"><i class="material-icons">add_task</i><span>ICO/IDO
        LISTINGS</span></span></a><br>
  <a (click)="navEvent.emit('trending')"><span class="iwt"><i
        class="material-icons">announcement</i><span>TRENDING</span></span></a><br>
  <a href="#services"><span class="iwt"><i class="material-icons">filter_list</i><span>ACTIVE
        COINS</span></span></a><br>
  <a href="#contact-us"><span class="iwt"><i class="material-icons">mail</i><span>CONTACT US</span></span></a><br>
  <a href="#faq"><span class="iwt"><i class="material-icons">question_answer</i><span>FAQS</span></span></a>
</div> -->


<div class="mobile-sidebar">
  <span class="iwt-mobile"><i class="material-icons-mobile">menu</i></span>
</div>
