/* Center Header */
.contact-us-header,
.button-container {
    text-align: center;
    margin-bottom: 50px;
}

.contact-us-header p {
    color: white;
}

button,
input {
    border-radius: 15px;
}

form p:nth-child(4) input {
    height: 100px;
}
