<div
  class="w3-padding-64 w3-content w3-text-grey contact-header add-padding-left"
  id="contact"
>
  <div class="contact-us-header">
        <h2 class="header-text site-header-text-blue">CONTACT US</h2>
        <p>Let's get in touch. Send us a message:</p>
    </div>

    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="First Name" required name="firstName" formControlName="firstName"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Last Name" required name="lastName" formControlName="lastName"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="email" formControlName="email"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="message" formControlName="message"></p>
        <p class="button-container">
            <button class="w3-button w3-light-grey w3-padding-large" type="submit" [disabled]="!formData.valid">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
        </p>
    </form>
</div>
