<!-- Contact Section -->
<div class="w3-padding-64 w3-content w3-text-grey contact-header" id="contact">
    <div class="contact-us-header">
        <h2 class="header-text">CONTACT US</h2>
        <p>Let's get in touch. Send us a message:</p>
    </div>

    <!-- <div class="w3-section">
        <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> USA</p>
        <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: cryptonoobs@gmail.com</p>
    </div><br> -->

    <form action="/action_page.php" target="_blank">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
        <p class="button-container">
            <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
        </p>
    </form>
    <!-- End Contact Section -->
</div>