<div class="w3-content services-header" id="photos">
    <h2 class="header-text site-header-text-blue">SERVICES</h2>
</div>

<div id="wrapper">
    <div id="outer">
        <div class="itemwrapper guide-section">
            <div class="color-overlay"></div>
            <div class="centered">GLOSSARY</div>
            <div class="top-left">ONE</div>
        </div>
        <div class="itemwrapper">
            <div class="centered description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
    </div>
    <div id="outer">
        <div class="itemwrapper">
            <div class="centered description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
        <div class="itemwrapper announcements-section">
            <div class="color-overlay"></div>
            <div class="centered">ANNOUNCEMENTS</div>
            <div class="top-right">TWO</div>
        </div>
    </div>
    <div id="outer">
        <div class="itemwrapper ico-section">
            <div class="color-overlay"></div>
            <div class="centered">ICO / IDO LISTINGS</div>
            <div class="top-left">COMING SOON</div>
        </div>
        <div class="itemwrapper">
            <div class="centered description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
    </div>
    <div id="outer">
        <div class="itemwrapper">
            <div class="centered description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
        </div>
        <div class="itemwrapper active-coins-section">
            <div class="color-overlay"></div>
            <div class="centered">ACTIVE COINS</div>
            <div class="top-right">COMING SOON</div>
        </div>
    </div>
</div>