<!-- <div class="container">
    <div #coins *ngFor="let coin of coins; trackBy:coinIdentity" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (mousemove)="onMouseMove($event)">
        <mat-grid-list [cols]="breakpoint" rowHeight="4:1" (window:resize)="onResize($event)" [gutterSize]="'25px'">
            <mat-grid-tile class="tile">
                <mat-card class="inside-grid-tile">
                    <span class="gradient" [ngStyle]="gradientStyle(coin)"></span>
                    <span class="content">
                        <div mat-card-avatar style="background-image: url({{coin.item.small}}); background-size: contain; display: flex; float: left;"></div>
                        <mat-card-header class="card-header">
                            <mat-card-title>{{coin.item.symbol}}</mat-card-title>
                            <mat-card-subtitle>{{coin.item.name}}</mat-card-subtitle>
                        </mat-card-header>
                    </span>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="tile">
    
                <mat-card>
                    <span class="gradient" [ngStyle]="gradientStyle(coin)"></span>
                    <span class="content">
                        <mat-card-header>
                            <div mat-card-avatar style="background-image: url({{coin.item.small}}); background-size: contain;"></div>
                            <mat-card-title>{{coin.item.symbol}}</mat-card-title>
                            <mat-card-subtitle>{{coin.item.name}}</mat-card-subtitle>
                        </mat-card-header>
                    </span>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div> -->

<header class="site-header">
    <h1 class="site-header-text">
        TRENDING
    </h1>
</header>

<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>
<div class="flexbox-container">
    <div class="flexbox-item flexbox-item-1">

    </div>
    <div class="flexbox-item flexbox-item-2">

    </div>
    <div class="flexbox-item flexbox-item-3">

    </div>
</div>