// mat-grid-tile {
//     // margin: 10px;
//     border-radius: 15px;
//     border-color: #cfff00;
//     border-style: solid;
//     border-width: 1px;
// }

// mat-card {
//     background: transparent;
//     width: calc(100%);
//     height: calc(100%);
// }

// .inside-grid-tile {
//     position: absolute;
//     left: 5px;
// }

// div {
//     margin: 25px;
// }

// // Hover
// .gradient {
//     position: absolute;
//     background: radial-gradient(circle closest-side, #2565fd, transparent);
//     transform: translate(-50%, -50%);
//     transition: width 0.2s ease, height 0.2s ease;
// }

// :host {
//     position: relative;
// }

// .gradient {
//     position: absolute;
// }
// .content {
//     position: relative;
// }

.flexbox-container {
    display: flex;
    justify-content: space-around;
}

.flexbox-item {
    width: 300px;
    margin: 10px;
    border-radius: 15px;

    padding: 10px;
    // border: 1px solid #cfff00;
    box-shadow: 0 1px 2px #cfff00, 0 2px 4px #cfff00, 0 4px 8px #cfff00;
    // 0 8px 16px #cfff00,
    // 0 16px 32px #cfff00,
    // 0 32px 64px #cfff00;
}

.flexbox-item-1 {
    min-height: 60px;
}

.flexbox-item-2 {
    min-height: 60px;
}

.flexbox-item-3 {
    min-height: 60px;
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30px;

    &-text {
        color: #c6e2ff;
        font-size: 100px;
        text-align: center;
        line-height: 1;
        animation: neon 0.08s ease-in-out infinite alternate;
    }
}

// animation

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}
