h2 {
    color: #CFFF00;
    margin: 2rem 0px -0.5rem;
}

p {
    margin-bottom: 3.5rem;
    letter-spacing: 1px;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    display: block;
}

.container {
    padding-bottom: 3rem;
}
