<div class="w3-padding-64 w3-content w3-text-grey">
    <div class="resources-header">
        <h2 class="header-text site-header-text-blue">RESOURCES</h2>
    </div>

    <div class="source-images">
        <div id="wrapper">
            <div id="outer">
                <div class="itemwrapper">
                    <a href="https://coinmarketcap.com/" target="_blank"> <img src="../../assets/images/cmc.jpg"
                            alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://coinmarketcal.com/en/" target="_blank"> <img
                            src="../../assets/images/coinmarketcal.png" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://www.coingecko.com/en" target="_blank"> <img src="../../assets/images/coingecko.png"
                            alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://www.binance.com/en" target="_blank"> <img src="../../assets/images/binance.jpg"
                            alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://exchange.pancakeswap.finance/#/swap" target="_blank"> <img
                            src="../../assets/images/pancakeswap.jpg" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>

                </div>
            </div>
            <div id="outer">
                <div class="itemwrapper">
                    <a href="https://app.uniswap.org/#/swap" target="_blank"> <img src="../../assets/images/uniswap.png"
                            alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://www.kucoin.com/" target="_blank"> <img src="../../assets/images/kucoin.jpg" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://bscscan.com/" target="_blank"> <img src="../../assets/images/bscscan.webp" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://etherscan.io/" target="_blank"> <img src="../../assets/images/etherscan.webp" alt="Avatar"
                            class="w3-left w3-circle w3-margin-right" style="width:80px; height: 80px;">
                    </a>
                </div>
                <div class="itemwrapper">
                    <a href="https://www.coinbase.com/" target="_blank"> <img src="../../assets/images/coinbase.jpeg"
                            alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>