* {
    box-sizing: border-box;
}

.services-component-container {
    margin: 0;
    margin-left: 85px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 4px 20px 0px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

/* Create 6 equal columns that sits next to each other */
.column {
    flex: 16%;
    max-width: 16%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding: 30px 0;

    &img {
        height: 100%;
    }
}


.service-text {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}

.description-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive layout - makes the three columns */
@media (max-width: 600px) {
    .column {
        flex: 33%;
        max-width: 33%;
        padding: 30px 0;
    }
    .row {
        padding: 20px 4px 20px 0px;
    }
}

/* Responsive layout - makes the four columns */
@media (min-width: 601px) and (max-width: 1000px) {
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 30px 0;
    }

}