/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

html {
    background-color: black;
    scroll-behavior: smooth;
    /* background: linear-gradient(to top left, #040404, #000000, #656565); */
}

.header-text {
    color: #CFFF00;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 1px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
