.flexbox-container {
  display: flex;
  justify-content: space-around;
}

.flexbox-item {
  width: 400px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  // border: 1px solid #cfff00;
  box-shadow: 0 1px 2px #cfff00, 0 2px 4px #cfff00, 0 4px 8px #cfff00;
  // 0 8px 16px #cfff00,
  // 0 16px 32px #cfff00,
  // 0 32px 64px #cfff00;
}

.flexbox-item-1 {
  min-height: 60px;
  max-height: 80px;
}

.flexbox-item-2 {
  min-height: 60px;
  max-height: 80px;
}

.flexbox-item-3 {
  min-height: 60px;
  max-height: 80px;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 30px;

  &-text {
      color: #c6e2ff;
      font-size: 100px;
      text-align: center;
      line-height: 1;
      animation: neon 0.08s ease-in-out infinite alternate;
  }
}




// Coin profile

img {
  display: inline-block;
  margin: auto;
  max-width: 100%;
  border-radius: 50%;
  vertical-align: middle;
  max-height: 60px;
  transition: transform .4s ease-in-out;
}

.coin-image {
  width: 28%;
  max-width: 150px;
  max-height: 80px;
}

.coin-description {
  width: 68%;
  padding-left: 5%;
}

.coin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;

  &:hover img {
      transform: rotate(360deg);
  }
}

.coin-symbol {
  color: #2565FD;
}




// mat-grid-tile {
//     // margin: 10px;
//     border-radius: 15px;
//     border-color: #cfff00;
//     border-style: solid;
//     border-width: 1px;
// }

// mat-card {
//     background: transparent;
//     width: calc(100%);
//     height: calc(100%);
// }

// .inside-grid-tile {
//     position: absolute;
//     left: 5px;
// }

// div {
//     margin: 25px;
// }

// // Hover
// .gradient {
//     position: absolute;
//     background: radial-gradient(circle closest-side, #2565fd, transparent);
//     transform: translate(-50%, -50%);
//     transition: width 0.2s ease, height 0.2s ease;
// }

// :host {
//     position: relative;
// }

// .gradient {
//     position: absolute;
// }
// .content {
//     position: relative;
// }